$primary: #1FF5BA;
$primaryOpacity80: rgba(31, 245, 186, .8);

$textDanger: #FE4C4F;

$backgroundBody: #1C1B22;
$backgroundGrayDark: #26262E;
$backgroundGrayDark2: #1C1C1C;

$white: #FFF;
$whiteOpacity80: rgba(255, 255, 255, .8);
